@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Authorization

<header>
    <NavLink href="">
        <img src="images/logo.png" alt="Site Logo">
    </NavLink>
    <span id="top">Car Rental Managment</span>
    <button id="menu"></button>
    <nav class="@MenuClass">
        <ul>
            <li>
                <NavLink href="reservations">Reservations</NavLink>
            </li>
            <li>
                <NavLink href="vehicles">Vehicles</NavLink>
            </li>
            <li>
                <NavLink href="resources">Clients</NavLink>
            </li>
            <li>
                <NavLink href="approvals">Employees</NavLink>
            </li>
            <AuthorizeView>
            <Authorized>
            <li>
                <NavLink href="/auth/logout-redirect">Logout</NavLink>
            </li>
            </Authorized>
        </AuthorizeView>
        </ul>
    </nav>
</header>

@code {
    bool open;

    string MenuClass => open ? "open" : "";

    void ToggleMenu()
    {
        open = !open;
    }
}