<header>
    <NavLink href="">
        <img src="images/logo.png" alt="Site Logo">
    </NavLink>
    <span id="top">Car Rental Managment</span>
    <button id="menu"></button>
    <nav class="@MenuClass">
        <ul>
            <li>
                <NavLink href="join">Booking</NavLink>
            </li>
            <li>
                <NavLink href="resources">Vechicles</NavLink>
            </li>
            <li>
                <NavLink href="resources">Clients</NavLink>
            </li>
        </ul>
    </nav>
</header>

@code {
    bool open;

    string MenuClass => open ? "open" : "";

    void ToggleMenu()
    {
        open = !open;
    }
}