body {
  font-family: 'Boogaloo', sans-serif;
  margin: 0;
}

header {
  text-align: center;
  background-color: #1ca5ff;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  min-height: 90px;
  align-items: center;
}

header span {
  margin: 0;
  padding: .8rem 0;
  color: black;
  font-size: 2rem;
}

header span.open {
  margin: .7rem 0;
}

header img {
  width: 70px;
  height: auto;
  position: absolute;
  left: .5rem;
  padding: .5rem 0;
  top: 1px
}

#menu {
	font-size: 2.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	right: .5rem;
  top: .8rem;
	left: auto;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
  font-size: 2rem;
  padding-left: 0;
}

nav {
	grid-column: 1 / 4;
  text-align: center;
}

header nav ul {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.open {
  display: block;
}

nav ul li {
  font-size: 1.5rem;
  font-weight: bolder;
  list-style: none;
  border-bottom: 1px solid #000;
}

nav ul li:first-child {
  border-top: 1px solid #000;
}

ul NavLink {
  display: block;
  padding: .5rem;
  color: #000;
  width: 100%;
}

nav NavLink:hover {
  background-color: black;
  color: white;
  padding: .5rem;
}