@media screen and (min-width: 600px) {

  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #menu {
    display: none;
  }

  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  header span {
    font-size: 2.5rem;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  header nav {
    margin-right: 1rem;
    font-size: 2.7rem;
  }

  header nav ul {
    display: flex;
		flex-direction: row;
    gap: 1rem;
   }

  nav ul li {
    border: 0;
  }

  nav ul li:first-child {
    border-top: 0;
  }
}